project:
  type: website
  resources:
    - objects.json

metadata-files:
  - _sidebar.yml

filters:
  - shinylive

quartodoc:
  # style: single-page
  style: pkgdown
  sidebar: _sidebar.yml
  renderer:
    style: _renderer.py
    show_signature_annotations: false
    display_name: relative
  dir: reference
  package: shinyswatch
  sections:
    - title: Get a theme
      desc: Generic method to retrieve a Bootswatch + Bootstrap 5 theme.
      contents:
        - get_theme
    - title: Theme picker
      desc: Adds a drop down menu to your app to set and select a bootswatch theme.
      contents:
        - theme_picker_ui
        - theme_picker_server
    - title: Themes
      desc: Functions that return a specific bootswatch theme.
      contents:
        - theme.cerulean
        - theme.cosmo
        - theme.cyborg
        - theme.darkly
        - theme.flatly
        - theme.journal
        - theme.litera
        - theme.lumen
        - theme.lux
        - theme.materia
        - theme.minty
        - theme.morph
        - theme.pulse
        - theme.quartz
        - theme.sandstone
        - theme.simplex
        - theme.sketchy
        - theme.slate
        - theme.solar
        - theme.spacelab
        - theme.superhero
        - theme.united
        - theme.vapor
        - theme.yeti
        - theme.zephyr

website:
  title: shinyswatch
  navbar:
    left:
      # - href: https://machow.github.io/quartodoc/
      #   text: quartodoc home
      - file: reference/index.qmd
        text: "Reference"
    right:
      - icon: github
        href: https://github.com/rstudio/py-shinyswatch
